@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

body
{
    font-family: 'Righteous';
    width: 100vw;
    max-width: 100%;
    background-color: #4c927c;
    overflow: hidden;
}



header
{
    position: relative;
    height: 4rem;
    width: 100vw;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f5e7;
}

header .logo
{
    display: flex;
    align-items: center;
    padding: 1vh 1vw;
}

header .bars
{
    margin-right: 10px;
    position: relative;
    height: 3px;
    width: 20px;
    border-radius: 2px;
    background-color: #4c927c;
    display: none;
}

header .bars::after,
header .bars::before
{
    position: absolute;
    content: '';
    left: 0;
    height: 3px;
    width: 20px;
    border-radius: 2px;
    background: #424141;
}

header .bars::after
{
    bottom: 7px;
}

header .bars::before
{
    top: 7px;
}

header h2
{
    
    color: #424141;
    font-size: 1.2rem;

}

.search 
{
    padding: 0.7vw;
    margin: 0 0.7vw;
}

.bell 
{
    padding: 0.7vw;
    margin: 0 0.7vw;
}

.nav__links
{
    display: flex;
}

.nav__links li
{
    position: relative;
    padding: 0.7vw;
    margin: 0 0.7vw;
}

.nav__links li a
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #424141;
}

.nav__links li a span
{
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin-top: 0.2rem;
}

section
{
    display: flex;
    align-items: center;
}

section span
{
    color: #424141;
}

section span i
{
    margin: 0 0.2vw;
    font-size: 1.2rem;
}

section img
{
    margin: 0 0.7vw;
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 50%;

}

@media only screen and (max-width : 768px) 
{
    header .logo
    {
        margin-right: 50px;
    }
    header .bars
    {
        display: block;
        transition: 0.5s;
    }
    header .bars.is-active
    {
        transform: rotate(90deg);
        width: 35px;
        transform-origin: right;
        transform: translateY(15px) rotate(45deg);
    }

    nav
    {
        position: fixed;
        z-index: 3;
    }
    .nav__links
    {
        background: #4c927c;
        position: fixed;
        top: 4rem;
        left: 0;
        padding-top: 1rem;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        pointer-events: none;
        transition: 0.5s;
        opacity: 0;
    }
    .nav__links li 
    {
        margin: 1.2vw 0;
    }
    .nav__links.open
    {
        opacity: 1;
        pointer-events: all;
    }

}